#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration 'config.rb'

compile '/sitemap.xml' do
	filter :erb
	write '/sitemap.xml'
end

compile '/**/*.html' do
	layout '/default.*'
end

compile '/**/*.md' do
	filter :kramdown
	layout '/default.*'
end

route '/**/*.{html,md}' do
	if item.identifier =~ '/index.*'
		'/index.html'
	else
		item.identifier.without_ext + '/index.html'
	end
end

ignore '/**/_*.scss'

compile '/**/*.scss' do
	filter :sass, Compass.sass_engine_options.merge(syntax: :scss)
	filter :rainpress
end

route '/**/*.scss' do
	item.identifier.without_ext + '.css'
end

compile '/**/*' do
	write item.identifier.to_s
end

layout '/**/*', :erb
