.article {
	&__category {
		color: #aaa;
		font-size: .9em;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		color: #292929;
		font-size: 36px;
		font-weight: 500;
		line-height: 1.25;
		margin-bottom: 30px;
	}

	&__content {
		color: #1f1f1f;
		font-size: 16px;
		line-height: 1.4;

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		h2 {
			color: #000;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: .015em;
			line-height: 1.25;
		}

		p {
			margin-bottom: 25px;
		}
	}
}
