$btn-border-radius: 4px;

$btn-primary-bg: #79a9ec;
$btn-primary-color: #fff;

$btn-secondary-bg: #ccc;
$btn-secondary-color: #fff;

$btn-extra-bg: transparent;
$btn-extra-border-radius: 3px;
$btn-extra-color: #222;
$btn-extra-hover-bg: #222;
$btn-extra-hover-color: #fff;

$btn-mono-bg: #333;
$btn-mono-hover-bg: rgba(#333, .7);

.btn {
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	outline: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	white-space: nowrap;
}

.btn--primary {
	background-color: $btn-primary-bg;
	color: $btn-primary-color;

	&:hover {
		background-color: lighten($btn-primary-bg, 3%);
		border: 1px solid darken($btn-primary-bg, 5%);
		box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	}
}

.btn--secondary {
	background-color: $btn-secondary-bg;
	color: $btn-secondary-color;

	&:hover {
		background-color: lighten($btn-secondary-bg, 3%);
		border: 1px solid darken($btn-secondary-bg, 5%);
		box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	}
}

.btn--fixed {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 10px;
}
