$category-article-active-bg: #a6c6f2;
$category-article-hover-bg: #e9f1fc;
$category-article-title-color: #4c8ce6;

.category {
	font-family: $display-font;

	&__name {
		font-size: 24px;
		font-weight: normal;
	}

	&__articles {
		list-style-type: none;
		margin: 18px 0;
		padding: 0;
	}

	&__article {
		border-radius: 4px;
		box-sizing: border-box;
		outline: 0;
		-webkit-tap-highlight-color: transparent;

		@media screen and (min-width: 481px) {
			margin: 0 -15px;
			padding: 15px;
		}

		@media screen and (max-width: 480px) {
			margin: 0 -5px;
			padding: 5px;
		}

		&:hover {
			background-color: $category-article-hover-bg;
		}

		&:active {
			background-color: $category-article-active-bg;
		}
	}

	&__article-title {
		color: $category-article-title-color;
		display: block;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 4px;
	}

	&__article-excerpt {
		color: #000;
		font-size: .9em;
	}
}
