$header-logo-size: 124px;
$header-logo-size-sm: 45px;

.header {
	position: relative;

	&__logo {
		background-image: url('../images/avem-logo.svg');
		background-size: cover;
		display: block;
		margin: 0 auto;

		@media screen and (min-width: 769px) {
			height: $header-logo-size;
			width: $header-logo-size;
		}

		@media screen and (max-width: 768px) {
			height: $header-logo-size-sm;
			width: $header-logo-size-sm;
		}
	}

	&__hamburger {
		font-size: 1.3em;
		left: 2%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
}
