$index-article-color: #4c8ce6;
$index-article-hover-bg: #e0ebfb;

.index {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;

	&__group {
		padding: 5px;
		flex-basis: 50%;
		box-sizing: border-box;
	}

	&__link {
		color: inherit;
		cursor: pointer;
		text-decoration: none;
		white-space: nowrap;
	}

	&__category {
		font-size: 1.1em;
		font-weight: normal;
	}

	&__articles {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__article {
		border-radius: 2px;
		color: $index-article-color;
		margin: 0;
		margin-left: -10px;
		padding: 3px 10px;

		&:hover {
			background-color: $index-article-hover-bg;
		}
	}
}
