$index-article-color: #4c8ce6;
$index-article-hover-bg: #e0ebfb;
$index-article-active-bg: #a6c6f2;

$index-rem-link-color: #bbb;
$index-rem-link-hover-color: #999;

.index {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;

	&__group {
		box-sizing: border-box;
		padding: 5px;
	}

	&__link {
		color: inherit;
		cursor: pointer;
		outline: 0;
		-webkit-tap-highlight-color: rgba(#000, 0);
		text-decoration: none;
	}

	&__category {
		font-size: 1.1em;
		font-weight: normal;
	}

	&__articles {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__article {
		border-radius: 2px;
		color: $index-article-color;
		margin: 0;
		margin-left: -10px;
		padding: 3px 10px;

		&:hover {
			background-color: $index-article-hover-bg;
		}

		&:active {
			background-color: $index-article-active-bg;
		}
	}

	&__rem-link {
		color: $index-rem-link-color;

		&:hover {
			color: $index-rem-link-hover-color;
		}
	}
}
