$index-article-color: #4c8ce6;
$index-article-hover-bg: #e0ebfb;
$index-article-active-bg: #a6c6f2;

$index-rem-link-color: #bbb;
$index-rem-link-hover-color: #999;

.index {
	&::after {
		clear: both;
		content: '';
		display: block;
	}

	&__group {
		box-sizing: border-box;
		margin-bottom: 10px;
		padding: 12px 0;
	}

	&__link {
		color: inherit;
		cursor: pointer;
		display: inline-block;
		outline: 0;
		-webkit-tap-highlight-color: rgba(#000, 0);
		text-decoration: none;
	}

	&__category {
		font-size: 1.1em;
		font-weight: normal;
		margin-bottom: 10px;
	}

	&__articles {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__article {
		color: $index-article-color;

		.index__link {
			border-radius: 2px;
			margin-left: -10px;
			padding: 4px 10px;

			&:hover {
				background-color: $index-article-hover-bg;
			}

			&:active {
				background-color: $index-article-active-bg;
			}
		}
	}

	&__remaining {
		margin-top: 10px;
		color: $index-rem-link-color;

		&:hover {
			color: $index-rem-link-hover-color;
		}
	}
}
