$nav-color: rgba(#000, .8);
$nav-color-sm: #c2c2c2;

.nav {
	@media screen and (min-width: 769px) {
		text-align: center;
		word-spacing: 0;
		white-space: nowrap;

		& > * {
			display: inline-block;
			word-spacing: normal;
		}

		& > :not(:first-child) {
			margin-left: 40px;
		}
	}

	&__link {
		cursor: pointer;
		text-decoration: none;
		white-space: nowrap;

		@media screen and (min-width: 769px) {
			color: $nav-color;
			padding: 5px 0;
			text-transform: uppercase;

			&:hover {
				box-shadow: 0 2px $nav-color;
			}
		}

		@media screen and (max-width: 768px) {
			color: $nav-color-sm;
			margin: 0 10%;
			overflow-x: hidden;
			padding: 4px 0;
			text-overflow: ellipsis;

			&:hover {
				color: lighten($nav-color-sm, 33%);
			}
		}
	}
}
