$nav-color: rgba(#000, .8);
$nav-color-sm: #c2c2c2;
$nav-hover-color-sm: lighten($nav-color-sm, 33%);

.nav {
	box-sizing: border-box;
	
	@media screen and (min-width: 769px) {
		text-align: center;
		white-space: nowrap;

		& > * {
			display: inline-block;
		}

		& > :not(:first-child) {
			margin-left: 60px;
		}
	}

	@media screen and (max-width: 768px) {
		& > * {
			display: block;
		}
	}

	&__link {
		cursor: pointer;
		text-decoration: none;
		white-space: nowrap;

		@media screen and (min-width: 769px) {
			color: $nav-color;
			padding: 5px 0;
			text-transform: uppercase;

			&:hover {
				box-shadow: 0 2px $nav-color;
			}
		}

		@media screen and (max-width: 768px) {
			color: $nav-color-sm;
			margin: 0 10%;
			overflow-x: hidden;
			padding: 4px 0;
			text-overflow: ellipsis;

			&:hover {
				color: $nav-hover-color-sm;
			}
		}
	}
}
