$nav-color: rgba(#000, .8);
$nav-stacked-color: #c2c2c2;
$nav-stacked-hover-color: lighten($nav-stacked-color, 33%);

.nav {
	display: flex;

	&__link {
		cursor: pointer;
		text-decoration: none;
	}

	&--span {
		justify-content: space-between;

		.nav__link {
			color: $nav-color;
			padding: 5px 0;
			text-transform: uppercase;
			white-space: nowrap;

			&:hover {
				box-shadow: 0 2px $nav-color;
			}
		}
	}

	&--stacked {
		flex-direction: column;
		justify-content: flex-start;

		.nav__link {
			color: $nav-stacked-color;
			margin: 0 10%;
			overflow-x: hidden;
			padding: 4px 0;
			text-overflow: ellipsis;

			&:hover {
				color: $nav-stacked-hover-color;
			}
		}
	}
}
