$search-box-input-bg: #ebebeb;
$search-box-input-focus-bg: darken($search-box-input-bg, 5%);

.search-box {
	display: flex;
	height: 37px;
	justify-content: space-between;

	& > * {
		height: 100%;
	}

	& > :not(:first-child) {
		margin-left: 5px;
	}

	&__input {
		background-color: $search-box-input-bg;
		border: 0;
		border-radius: 4px;
		flex-grow: 3;
		outline: 0;
		padding: 0 15px;
		transition: background-color .2s ease-out;

		&:focus {
			background-color: $search-box-input-focus-bg;
		}
	}

	&__btn {
		flex-grow: 1;
	}
}
