$search-results-entry-hover-bg: #e9f1fc;
$search-results-entry-title-color: #4c8ce6;

.search-results {
	.gsc-control-cse {
		background-color: transparent;
		border: 0;
		padding: 0;
	}

	.gsc-above-wrapper-area {
		display: none;
	}

	.gcsc-branding {
		display: none;
	}

	.gsc-result-info {
		display: none;
	}

	.gsc-result {
		background-color: transparent !important;
		border: 0 !important;
		border-radius: 4px;
		padding: 20px 0;

		&:hover {
			background-color: $search-results-entry-hover-bg !important;
		}
	}

	.gs-title, .gs-title * {
		color: $search-results-entry-title-color !important;
		text-decoration: none !important;
	}

	.gsc-url-top {
		display: none;
	}

	.gsc-cursor-box {
		margin-bottom: 0 !important;
	}

	.gcsc-branding {
		display: none;
	}
}
