$page-width: 2100px;
$page-bg-from: #fff;
$page-bg-to: #f2f2f2;

$text-font: serif;
$display-font: sans-serif;

$logo-size: 124px;
$logo-size-sm: 54px;

$main-nav-max-width: 1000px;

$text-field-bg: #ebebeb;

$default-btn-bg: #ccc;
$default-btn-color: #fff;

$primary-btn-bg: #79a9ec;
$primary-btn-color: #fff;

$extra-btn-bg: transparent;
$extra-btn-color: #000;

$side-menu-bg: #323232;
$side-menu-color: #c2c2c2;
$side-menu-width-md: 275px;
$side-menu-slide-duration: .4s;
