@import "base";
@import "config";

.page-wrapper {
	margin: 0 auto;
	max-width: $page-width;
}

.nav {
	&__list {
		display: flex;
		justify-content: space-around;
	}

	&__item {
		float: left;
		height: 35px;
		padding: 0 20px;
		margin-left: 1px;
		line-height: 35px;
		white-space: nowrap;
		list-style-type: none;
	}

	&__link {
		display: block;
		cursor: pointer;
		text-decoration: none;
		color: rgba(0, 0, 0, .8);
		text-transform: uppercase;

		&:hover {
			border-bottom: 2px solid;
		}
	}
}

.btn {
	padding: 0;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	white-space: nowrap;
	text-decoration: none;

	&:hover {
		box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	}

	&--default {
		color: #fff;
		background-color: $default-btn-color;

		&:hover {
			background-color: lighten($default-btn-color, 3%);
		}
	}

	&--primary {
		color: #fff;
		background-color: $primary-btn-color;

		&:hover {
			border: 1px solid darken($primary-btn-color, 5%);
			background-color: lighten($primary-btn-color, 3%);
		}
	}
}

.text-field {
	border: none;
	padding: 0 15px;
	border-radius: 4px;
	background-color: $text-field-bg;
	transition: background-color .15s ease-out;

	&:focus {
		outline: none;
		background-color: darken($text-field-bg, 3%);
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: radial-gradient(circle at 50% 0%, #fff, #f2f2f2) no-repeat;
}

#header-logo {
	margin: 0 auto;
	background-size: cover;
	background-image: url("../images/avem-logo.png");
}

#header-extra {
	z-index: 1;
	font-size: .8rem;
	border-radius: 3px;
	white-space: nowrap;
}

#help-btn {
	vertical-align: middle;
	color: rgba(0, 0, 0, .8);

	&:hover{
		box-shadow: none;
		color: rgba(0, 0, 0, .7);
	}
}

#login-btn {
	color: #000;
	margin-left: 10px;
	padding: 10px 15px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid rgba(0, 0, 0, .9);

	&:hover {
		color: #fff;
		background-color: rgba(0, 0, 0, .9);
	}
}

#search-area {
	padding: 0;
	width: 95%;
	height: 38px;
	max-width: 550px;
	text-align: center;
	white-space: nowrap;
}

#search-field {
	width: 75%;
	height: 100%;
}

#search-btn {
	width: 25%;
	height: 100%;
	margin-left: calc(15px - 1em);
}

@media screen and (min-width: 768px) {
	.page-wrapper {
		padding-top: 45px;
	}

	#header-navbar {
		margin: 35px auto;
		max-width: 1000px;
	}

	#header-extra {
		right: 10%;
		position: absolute;
		top: 45px + $logo-size / 2;
		transform: translateY(-50%);
	}

	#header-logo {
		width: $logo-size;
		height: $logo-size;
	}

	#search-area {
		margin: 35px auto;
	}
}

@media screen and (max-width: 768px) {
	.page-wrapper {
		padding-top: 10px;
	}

	#header-logo {
		width: $logo-size-sm;
		height: $logo-size-sm;
	}

	#header-extra {
		display: none;
	}

	#header-navbar {
		display: none;
	}

	#search-area {
		margin: 10px auto;
	}
}
