<% render '/default.html' do %>
	<form class="l-search search-box nocontent" action="/search" method="get"
	      itemscope itemtype="http://schema.org/SearchAction" itemprop="potentialAction">
		<meta itemprop="target" content="http://help.avem.es/search?q={q}"/>
		<input class="search-box__input" itemprop="query-input" type="search"
		       <%= defined?(search_query) && 'value="' + search_query + '"' %>
		       name="q" placeholder="Lo que quieras buscar..." required>
		<input type="submit" class="search-box__btn btn btn--primary" value="Buscar">
	</form>

	<div class="l-content">
		<%= yield %>
	</div>

	<div class="l-contact cta nocontent">
		<span class="cta__head">¿No has encontrado lo que buscabas?</span>
		<a class="cta__btn btn btn--primary" href="/contact">Contáctanos</a>
	</div>
<% end %>
