$side-menu-bg: #323232;
$side-menu-slide-duration: .4s;
$side-menu-width: 275px;

body {
	@media screen and (max-width: 768px) {
		overflow-x: hidden;
	}
}

.l-body {
	margin: 0 auto;

	@media screen and (min-width: 769px) {
		max-width: 900px;
	}

	@media screen and (max-width: 768px) {
		transform: none;
		transition: transform $side-menu-slide-duration;

		&.is-menu-shown {
			transform: translateX($side-menu-width);

			&::before {
				background-color: transparent;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}
	}
}

.l-nav {
	@media screen and (min-width: 769px) {
		margin: 35px auto 25px;
	}

	@media screen and (max-width: 768px) {
		box-sizing: border-box;
		background-color: $side-menu-bg;
		height: 100vh;
		padding: 20px 0;
		position: absolute;
		right: 100%;
		top: 0;
		width: $side-menu-width;
		z-index: 1;
	}
}
